/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Sarabun:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Sarabun:wght@300&family=Tektur:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&family=Oswald:wght@500&family=Playfair+Display:wght@500&family=Sarabun:wght@300&family=Tektur:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.background {
  max-width: 100%;
  min-height: 768px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom right, rgb(224, 222, 222), #cccfce,  rgb(3, 187, 3));
  border: 2px darkred;
}

.header {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  position: top;
  color: rgb(20, 67, 107);
  margin: 3px;
}

.slogan {
font-family: 'Exo 2', sans-serif;
font-size: 25px;
margin: 3px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 3px;
  border: tomato 2px;
  border-style: ridge;
  position: relative;
}

.navbar {
  margin: 10px;
  max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'Tektur', sans-serif;
  font-size: 30px;
  background-color: #d9dad9;
  border-radius: 5px;
}

#nbButton1,
#nbButton2,
#nbButton3 {
  padding: 1px 3px;
  border: black 2px;
  border-style: groove;
  border-radius: 5px;
}

.hookusestate {
  font-size: large;
  background-color:darkslateblue;
  height: fit-content;
  width: fit-content;
  border: 3px solid #0c9e6d;
  margin: 5px;
}

.footer {
  position: absolute;
  bottom: 3px;
}
